@model BeautyCenter.Models.Uslugi
@{
    Layout = "~/Views/Shared/ProfilKlient.cshtml";
}
<h1>@Model.IdOddelNavigation.ImeOddel</h1>
<br />
<h3>@Model.ImeUsluga</h3>
<br />
<h4>Цена</h4>
<p>
    @Model.CenaUsluga
</p>
<h4>Опис на услугата</h4>
<p>
    @Model.OpisUsluga
</p>


<form asp-action="DodadiOmilena" asp-route-id="@Model.IdUsluga">
    <button type="submit" class="btn btn-secondary">
        Додади во омилени
    </button>
</form>

<p>Коментари</p>
<table>
    <thead>
        <tr>
            <th>
                Коментар
            </th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Termini != null)
        {
            @foreach (var t in Model.Termini)
            {
                <tr>
                    
                    <td>
                       @t.Komentar
                    </td>
                    <br />
                </tr>
            }
        }

    </tbody>
</table>
